locals.zsh
log/.zsh_history
projects.zsh
custom
!custom/plugins/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/
mutt/.muttrc.*
mutt/certificates
!mutt/.muttrc.example
mutt/aliases
mutt/signature.htm
vimfiles/.netrwhist
vimfiles/.VimballRecord
vimfiles/autoload/netrw*.vim
vimfiles/doc/
vimfiles/plugin/
vimfiles/syntax/netrw.vim
vimfiles/bundle
